extends ../layout.pug

block head
    title= "sidebar1"
    // Stylesheets Files
    link(rel="stylesheet", href="../../css/bootstrap.css")
    link(rel="stylesheet", href="../../css/font-awesome.css")
    link(rel="stylesheet", href="../../css/template-parts/sidebar1.css")

block content
    .main
        aside(class="main-sidebar") sidebar
        .main-content content