doctype html
html
    head
        meta(charset="UTF-8")
        block head
            title= title
            // Stylesheets Files
            link(rel="stylesheet", href="../../../public/css/bootstrap.css")
            link(rel="stylesheet", href="../../../public/css/font-awesome.css")
            link(rel="stylesheet", href="../../../public/css/bootstrap.css")
    body.light-theme
        block content
            h1 The Name Of Allah 
            
        
        // Javascripts Files
        script(src="../../js/jquery-3.4.1.min.js")
        script(src="../../js/nice-scroll.js")
        script(src="../../js/api.js")
        script(src="../../js/bootstrap.js")
        script(src="../../js/plugin.js")